{% extends 'blog/layout.html' %}
{% block content %}
{% ifequal user article.author %}
<form action="." method="post">
    {% csrf_token %}
    <div class="form-group"><label for="id_title">文章标题：</label>{{myform.title}}</div>
    <div class="form-group">
        <label for="id_author">作者：</label>
        <select id="id_author" class="form-control">
            <option value="{{article.author}}">{{article.author}}</option>
        </select>
    </div>
    <div class="form-group"><label for="id_category">分类：</label>{{myform.category}}</div>
    <div class="form-group"><label for="id_cover">封面：</label>{{myform.cover}}</div>
    <div class="form-group">
        <label for="TextArea">文章：</label>
        <textarea id="id_body" name="id_body">{{article.body|safe}}</textarea>
        <script>
            CKEDITOR.replace("id_body");
            $('#id_title').val("{{article.title}}");
            $('#id_cover').val("{{article.cover}}");  
            var articleid="{{article.id}}";
        </script>
    </div>
    <br>
    <button id="articleEdit" type="button" class="btn btn-primary">提交</button>
</form>
{% else %}
<h4>请先登录文章作者账号</h4>
{% endifequal %}
{% endblock %}