<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <title>Gxstar123的小站--博客</title>
</head>
<body style="background-color: #fafafa;">
    <header class="bg-dark">
        <!-- bootstrap官网上copy的导航栏样例，改一下名字就直接可以使用 -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark container">
            <a class="navbar-brand" href="{% url 'home' %}">Gxstar123</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                {% for category in AllCategory %}
                <li class="nav-item">
                  <a href="category_{{category.id}}" class="nav-link">{{category.category}}</a>
                </li>
                {% endfor %}
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </nav>
    </header>
    <div class="container">
      <section class="row justify-content-between">
        <div class="col-sm-8 content">{% block content %}{% endblock %}</div>
        <div class="col-sm-3 content">{% include "blog/sidebar.html" %}</div>
      </section>
    </div>

    <footer>
      
      <section class="container">
        <hr />
        <p>Copyright by GengXing@2020</p>
      </section>
    </footer>
    <!-- js文件引用 -->
    
    <script src="https://cdn.bootcss.com/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/ckeditor/4.12.1/ckeditor.js"></script>
</body>
</html>